/* =========== General styles =========== */
html,
body {
  /* margin: 0;
  padding: 0; */
  height: 100%;

  overflow: hidden; /* Забороняє прокручування всього документа */
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;

  position: relative;
  min-height: 100%;
}

header {
  position: fixed; /* Фіксує header у верхній частині */
  top: 0;
  left: 0;
  width: 100%; /* Розтягує header на всю ширину */
  background-color: #f4f4f4;

  z-index: 10; /* Забезпечує видимість поверх контенту */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь для стилю */
}

footer {
  position: fixed; /* Фіксує footer внизу */

  /* position: absolute; */
  bottom: 0;

  left: 0;

  width: 100%;
  /* background-color: #ddd; */
  /* padding: 20px; */
  text-align: center;

  z-index: 10; /* Забезпечує видимість поверх контенту */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тінь для стилю */

  padding-bottom: 10px;
  background-color: #404040;

  min-height: 50px;
}

main {
  margin-top: 80px; /* Відступ для врахування висоти header */
  margin-bottom: 50px; /* Відступ для врахування висоти footer */
  height: calc(100% - 100px); /* Висота, щоб врахувати header і footer */
  overflow-y: auto; /* Прокручування контенту */
  /* padding: 20px; */
  /* background-color: #eaeaea; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Candara";
  src: url("./fonts/candara.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* =========== Header first line =========== */
.header-background-line {
  display: block;
  background-color: #404040;
  margin: 0 auto;
}

.header--phone--mail--address {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-style: normal;
  color: #fff;
  padding: 10px 30px;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.phone-number-header-one {
  color: #fff;
  font-size: 14px;
}

.phone-number-header-two {
  margin-left: 22px;
  color: #fff;
  font-size: 14px;
}

.mail-header {
  color: #fff;
}

.header-svg {
  fill: #ff6a00;
  margin-right: 10px;
}

.header-adress {
  margin: 0;
}

.header-adress-line {
  border: none;
  height: 2px;
  background-color: #ff6a00;
  margin: 0;
}

/* =========== Header second line =========== */
.header-logo-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #404040;

  padding: 0 14px;
  border-radius: 10px;
}

.header-logo-link {
  font-family: "Candara", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #ff6a00;
  position: relative;
  display: inline-block;

  transition: color 0.3s ease-in-out; /* Плавна зміна кольору */
}

.header-logo-kyiv {
  color: #fff;
  transition: color 0.3s ease-in-out; /* Плавна зміна кольору */
}

.header-logo-link:hover {
  color: #fff;
}

.header-logo-link:hover .header-logo-kyiv {
  color: #ff6a00;
}

.header-block-img,
.header-block-img-two {
  position: absolute;
  top: 6px; /* Вирівнює по висоті */
  left: 135px; /* Вирівнює по горизонталі */
  width: 24px;
  transition: opacity 0.3s ease-in-out;
}

.header-block-img {
  opacity: 1; /* Зображення за замовчуванням */
  z-index: 2;
}

.header-block-img-two {
  opacity: 0; /* Сховане зображення */
  z-index: 1;
}

.header-logo-link:hover .header-block-img {
  opacity: 0; /* Ховає перше зображення */
}

.header-logo-link:hover .header-block-img-two {
  opacity: 1; /* Показує друге зображення */
}

/* .header-block-img {
  display: block;
  position: absolute;
  margin-left: 135px;
  margin-top: 6px;
}

.header-block-img-two {
  display: none;
  position: absolute;
  margin-left: 130px;
} */

.header-social-icon {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*  =========== Dropdown menu =========== */
/* Основне меню */
.header-nav {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Контейнер для пункту меню */
.header-nav-link {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #ff6a00;
  padding: 0px 6px;
  border-radius: 8px;
  max-height: 38px;
}

.header-nav-link-text {
  color: #fff;
}

/* Випадаюче меню */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #404040;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  padding: 10px 0;
  margin-top: 3px;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Елементи списку */
.dropdown li {
  padding: 10px 20px;
}

.dropdown .dropdown-second {
  padding: 6px 0;
  width: 100%;
}

.dropdown-li-two {
  background-color: #5c5c5c;
}

/* Посилання у випадаючому меню */
.dropdown li .dropdown-li-link {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 16px;
  width: 500px;
}

/* Ефект наведення */
.dropdown li a:hover {
  color: #ff6a00;
}

/* Показ випадаючого меню при наведенні */
.header-nav-link:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header-nav-link {
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #ff6a00;
  padding: 0px 6px;
  border-radius: 8px;
  max-height: 38px;
}

.header-nav-link:hover {
  border: 2px solid #fff;
}

.header-nav-link:hover .unicode {
  color: #fff;
}

.header-nav-uk {
  font-size: 20px;
  border: 2px solid #ffd800;
  padding: 0px 6px;
  border-radius: 8px;
  max-height: 38px;
}

.nav-link-uk-text {
  color: #fff;
}

.header-nav-en {
  font-size: 20px;
  border: 2px solid #0094ff;
  padding: 0px 6px;
  border-radius: 8px;

  max-height: 38px;
}

.nav-link-en-text {
  color: #fff;
}

.unicode {
  color: #ff6a00;
}

/* =========== Two dropdown menu ========== */
.dropdown-second {
  position: relative;
  display: inline-block;
}

.dropdown-li-link {
  color: #fff;
  font-size: 16px;
}

.dropdown-second > .dropdown-li-link {
  padding: 10px 20px;
}

.dropdown-content-second {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -150px;
  max-width: 200px;
  min-width: 150px;
  margin-top: -30px;

  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
}

.dropdown-second:hover .dropdown-content-second {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-second-link {
  display: block;
  padding: 0;
  color: #333;
  background-color: #ffd800;
  font-size: 16px;
  margin-left: -30px;
}

.dropdown-second-link-one {
  background-color: #5c5c5c;
  padding-left: 20px;
  color: #fff;
}

/* =========== Article =========== */

.main-content {
  margin-top: 100px;
  margin-bottom: 20px;
}

.article-block {
  display: flex;
  gap: 30px;
  margin: 30px 16px;
}

.article-block-img {
  max-width: 100px;
  max-height: 100px;
}

.article-block-title-text {
  display: block;
}

/* ========== Footer =========== */
.copyright {
  font-size: 18px;
  font-weight: 400;

  font-family: "Candara";
  src: url("./fonts/candara.ttf") format("truetype");

  font-style: normal;
  margin: 0;
  color: #fff;
  padding-top: 10px;
}

.footer-logo {
  color: #ff6a00;
}

.footer-logo-u {
  color: #ffd800;
}

.footer-logo-a {
  color: #0094ff;
}

.footer-img {
  margin-left: 6px;
  margin-right: 6px;
}
